

body, html, .container-fluid{
    height: 100%;
    width: 100%;
    margin: none;
    padding-right: 0;
    padding-left: 0;
    overflow-x: hidden;
}



a{
    color: #dddddd;
}

a:hover{
    color: #dddddd;
}

#header-text{
    width: 100%;
    text-align: center;
    font-size: 36pt;
    color: #dddddd;
}

.quadrant-div{
    width: 100%;
}
.quadrant-content{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.quadrant-text{
    font-size: 36pt;
    color: #dddddd;
    text-align: center;
    margin-top: 25%;
    margin-bottom: 25%;
}

.project{
    width: 100%;
    text-align: center;
}

.project-title{
    font-size: 36pt;
}

.project-image{
    height: 400px;
    width: 650px;
}

.weather-image{
    height: 400px;
    width: 800px;
}

.project-link{
    font-size: 24pt;
}


#project-div{
    height: 100%;
    background-color:#c22b2b;
}

#professional-div{
    height: 100%;
    background-color:#8c088c;
}

#resume-div{
    height: 100%;
    background-color:#6857ff;
}

#contact-div{
    height: 100%;
    background-color: #eb5234;
}

#dictionary{
background-color: #8c088c;
}

#weather{
background-color: #eb5234;
}

#planner{
background-color:#6857ff;
}

#first-subheading{
background-color: #eb5234;
text-align: center;
}

#second-subheading{
background-color: #6857ff;
text-align: center;
}

.fullwidth{
    width: 100%;
    text-align: center;
}

#contact-header{
    background-color: #36ba59;
}

.outreach{
    font-size: 56pt;
    font-weight: bolder;
}
.contact-text{
    font-size: 35pt;
    color: #dddddd;
}

.contact-big{
    font-weight: bolder;
    font-size: 56pt;
}

#first-row{
    height: 45%;
}

#second-row{
    height: 45%;
}