

body, html, .container-fluid{
    height: 100%;
    width: 100%;
    margin: none;
    padding-right: 0;
    padding-left: 0;
    overflow-x: hidden;
}


a{
    color: #dddddd;
}

a:hover{
    color: #dddddd;
}

#header-text{
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36pt;
    color: #dddddd;
}

.quadrant-div{
    width: 100%;
}
.quadrant-content{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.quadrant-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36pt;
    color: #dddddd;
    text-align: center;
    margin-top: 25%;
    margin-bottom: 25%;
}

.project{
    width: 100%;
    text-align: center;
}

.project-title{
    font-size: 36pt;
}

.project-image{
    height: 400px;
    width: 650px;
}

.weather-image{
    height: 400px;
    width: 800px;
}

.project-link{
    font-size: 24pt;
}


#project-div{
    height: 100%;
    background-color:#c22b2b;
}

#professional-div{
    height: 100%;
    background-color:#8c088c;
}

#resume-div{
    height: 100%;
    background-color:#6857ff;
}

#contact-div{
    height: 100%;
    background-color: #eb5234;
}

#dictionary{
background-color: #8c088c;
}

#weather{
background-color: #eb5234;
}

#planner{
background-color:#6857ff;
}
/*
.dictionary-link{
    background-color: #780878;
}

.weather-link{
background-color: #d24434;
}

.planner-link{
background-color:#362c91;
}
*/